<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        /* Define the spinning animation */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }

        /* Apply the spinning animation to the icon */
        .spinning-icon {
            animation: spin 2s linear infinite;
            /* Adjust duration as needed */
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">
                <img src="/static/logo.png" alt="fr24" width="auto" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-airplane-fill"
                                style="padding-right: 5px;"></i>Unidentified</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history"><i class="bi bi-clock-history"
                                style="padding-right: 5px;"></i>History</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-search" style="padding-right: 5px;"></i>Search
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-calendar-week"
                                        style="padding-right: 5px;"></i>By Date</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-clipboard-data-fill"
                                        style="padding-right: 5px;"></i>Custom Search</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-floppy2"
                                        style="padding-right: 5px;"></i>Export Data</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><i class="bi bi-h-square" style="padding-right: 5px;"></i>About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row" id="flights-container">
            <h2><i class="bi bi-radar" style="padding-right: 5px;"></i>Total UFOs: <b>{{ ufo|length }}</b></h2>
            {% for plane in ufo %}
            <div class="col-md-4">
                <div style="padding-top:10px">
                    <div class="card">
                        <h3 class="card-header">{{ plane.icao }}</h3>
                        <div class="card-body">
                            <p class="card-text">
                            <form action="/unidentified" method="post" id="form_{{ plane.icao }}">
                                <input type="hidden" name="icao" value="{{ plane.icao }}">
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="registration" class="form-label">Registration</label>
                                        <input type="text" name="registration"
                                            class="form-control {% if plane.r == "" %} is-invalid{% endif %}"
                                            id="registration" placeholder="registration" aria-label="registration"
                                            value="{{ plane.r }}">
                                    </div>
                                    <div class="col">
                                        <label for="model" class="form-label">Model</label>
                                        <input type="text" name="model"
                                            class="form-control {% if plane.t == "" %} is-invalid{% endif %}" id="model"
                                            placeholder="model" aria-label="model" value="{{ plane.t }}">
                                    </div>
                                    <div class="col">
                                        <label for="type" class="form-label">Type</label>
                                        <input type="text" name="type"
                                            class="form-control {% if plane.des == "" %} is-invalid{% endif %}"
                                            id="type" placeholder="type" aria-label="type" value="{{ plane.des }}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
</body>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>

</html>