<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        /* Define the spinning animation */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }

        /* Apply the spinning animation to the icon */
        .spinning-icon {
            animation: spin 2s linear infinite;
            /* Adjust duration as needed */
        }
    </style>
    <script>
        //var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        //var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) { return new bootstrap.Tooltip(tooltipTriggerEl) })
        // Function to fetch and update flights data
        function refreshFlights() {
            fetch('/flights', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ /* Your request data, if needed */ })
            })
                .then(response => response.json())
                .then(data => {
                    // Update the page with the new data
                    const flightsContainer = document.querySelector('#flights-container');
                    flightsContainer.innerHTML = ''; // Clear the existing data

                    if (Object.keys(data).length === 0) {
                        // Display the "Empty Nest" icon
                        const emptyNestIcon = document.createElement('div');
                        emptyNestIcon.classList.add('col', 'd-flex', 'justify-content-center', 'align-items-center', 'text-center');
                        emptyNestIcon.innerHTML = '<i class="bi bi-radar spinning-icon" style="font-size: 150px; color: #588157;"></i>'
                        flightsContainer.appendChild(emptyNestIcon);
                    }
                    else {
                        const flightCount = Object.keys(data).length;
                        // Create an element for the flight count
                        const flightCountElement = document.createElement('div');
                        flightCountElement.textContent = `Number of Detected Aircrafts: ${flightCount}`;
                        flightCountElement.classList.add('text-center', 'mb-3'); // You can adjust the styling as needed
                        // Append the flight count element to the container
                        flightsContainer.appendChild(flightCountElement);

                        for (const [key, flight] of Object.entries(data)) {
                            const card = document.createElement('div');
                            card.classList.add('col-md-4');
                            card.innerHTML = `
                            <div style="padding-top:10px">
                                <div class="card ${flight[16] === '' ? 'border-warning' : ''}">
                                    <!--<img src="/static/airplane-engines.svg" class="img-fluid rounded-start" alt="...">-->
                                    <h5 class="card-header">
                                        <div class="row">
                                            <div class="col-sm-4"><b>${flight[16] === '' ? 'N/A' : flight[16]}</b></div>
                                            <div class="col">${flight[17] === undefined ? '' : flight[17]} ${flight[20] === undefined ? '' : `<img src="/static/flags/4x3/${flight[20]}.svg" alt="flag" width="auto" height="15">`}</div>
                                            <!--<div class="col-3">-->
                                                <h6>
                                                    <div class="">
                                                        <!--<div class="col">-->${flight[18] === undefined ? '' : `<span class="badge text-bg-secondary">${flight[18]}</span>`}<!--</div>-->
                                                        <!--<div class="col">-->${flight[19] === undefined ? '' : `<span class="badge text-bg-success">${flight[19]}</span>`}<!--</div>-->
                                                    </div>
                                                </h6>
                                            <!--</div>-->
                                        </div>
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                        <!--<div class="row">
                                            <div class="col"><b>Registration:</b> ${flight[17]}</div>
                                            <div class="col"><b>:</b></div>
                                        </div>-->
                                        <div class="row">
                                            <div class="col"><b>ICAO:</b> ${key}</div>
                                            <div class="col"><b>SQW:</b> ${flight[6]}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><b>Latitude:</b> ${flight[1] === 0 ? 'N/A' : flight[1] + '°'}</div>
                                            <div class="col"><b>Longitude:</b> ${flight[2] === 0 ? 'N/A' : flight[2] + '°'}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><b>Altitude:</b> ${flight[4]} ft</div>
                                            <div class="col"><b>Track:</b> ${flight[3]}°</div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><b>Speed:</b> ${flight[5]} kts</div>
                                            <div class="col"><b>Vertical S:</b> ${flight[15]} fpm</div>
                                        </div>
                                        </p>
                                        <a href="https://www.flightradar24.com/${flight[16]}" target="_blank" class="btn btn-primary ${flight[16] === '' ? 'disabled' : ''}"><img src="/static/logo.png" alt="fa" width="95" height="24"></a>
                                        <a href="http://flightaware.com/live/modes/${key}/redirect" target="_blank"
                                            class="btn btn-primary ${flight[16] === '' ? 'disabled' : ''}"><img src="/static/flightaware-logo.png" alt="fa" width="auto" height="24"></a>
                                        <a href="https://planefinder.net/flight/${flight[16]}" target="_blank" class="btn btn-primary ${flight[16] === '' ? 'disabled' : ''}"><img src="/static/pf-logo.svg" alt="pf" width="auto" height="24"></a>
                                    </div>
                                </div>
                            </div>
                        `;
                            flightsContainer.appendChild(card);
                        }
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }

        // Call the refreshFlights function initially and set an interval to refresh every X seconds
        refreshFlights();
        setInterval(refreshFlights, 6000);
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">
                <img src="/static/logo.png" alt="fr24" width="auto" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <!--
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row" id="flights-container">
            <div class="text-center">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <!--{% for key, flight in flights.items() %}
            <div class="col-md-4">
                <div class="card {% if flight[16] == "" %}border-warning{% endif %}">
                    <h5 class="card-header">{% if flight[16] == "" %}N/A{% else %}{{ flight[16] }}{% endif %}</h5>
                    <div class="card-body">
                        <p class="card-text">
                        <div class="row">
                            <div class="col"><b>ICAO:</b> {{ key }}</div>
                            <div class="col"><b>SQW:</b> {{ flight[6] }}</div>
                        </div>
                        <div class="row">
                            <div class="col"><b>Latitude:</b> {{ flight[1] }} </div>
                            <div class="col"><b>Longitude:</b> {{ flight[2] }}</div>
                        </div>
                        <div class="row">
                            <div class="col"><b>Altitude:</b> {{ flight[4] }}</div>
                            <div class="col"><b>Speed:</b> {{ flight[3] }}</div>
                        </div>
                        </p>
                        <a href="https://www.flightradar24.com/{{ flight[16]}}" target="_blank"
                            class="btn btn-primary">FR24</a>
                    </div>
                </div>
            </div>
            {% endfor %}-->
        </div>
    </div>
    <br><br>
</body>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>

</html>